<html>
<body>
{% for voter in voters%}
 </thead>
                  <tbody>

                    <tr>
                      <td>{{voter.matric_no}}</td>
                      <td>{{voter.email}}</td>
                      <td>{{voter.first_name}} {{voter.last_name}}</td>
                      <td>{{voter.faculty}}</td>
                      <td>{{voter.Department}}</td>
                      <td>{{voter.is_active}}</td>
                      <td>{{voter.is_admin}}</td>
                      <td>{{voter.is_voter}}</td>
                    </tr>

        </tbody>

                </table>
{% endfor %}

</body>
</html>