



{% extends 'admin/poll/poll_page.html' %}
 {% block feature%}
<td>  <a href="{% url 'poll_detail' poll.id %}" class="btn btn-warning btn-sm" role="button">Vote</a></td>
{%endblock%}


{%load static%}
{% block content%}

 <div class="container-fluid px-xl-7">

     <div><h1>{{ poll.text }}</h1></div>
          <section class="py-5">


<form method="post">
    {%csrf_token%}

     <tr><th><label for="id_choice_text"><b>Choice:</b></label></th><td><input type="text" name="choice_text" class="form-control" maxlength="100" minlength="3" required id="id_choice_text"></td></tr>
           <br/>
     <br/>
     <div class="form-group row">
                        <div class="col-md-7 ml-auto">

                          <button type="submit" class="btn btn-primary">Submit</button>
         </div>
                      </div>
</form>
          </section>

{%endblock%}






